@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Caveat;
    font-weight: 800;
    src: url(../../fonts/Caveat/static/Caveat-Bold.ttf);
}

@font-face {
    font-family: Monoton;
    src: url(../../fonts/Monoton/Monoton-Regular.ttf);
}

@layer base {
    @font-face {
        font-family: "Inter";
        font-weight: 400;
        src: url(../../fonts/Inter/static/Inter-Regular.ttf);
    }
    @font-face {
        font-family: "Inter";
        font-weight: 800;
        src: url(../../fonts/Inter/static/Inter-ExtraBold.ttf);
    }
}

.boldInter {
    font-family: Inter;
    font-weight: bolder;
}

.caveatFont {
    font-family: Caveat;
}
body {
    background-color: #f7f7f7;
}

[x-cloak] {
    display: none;
}

.hiddenDeleteBtn {
    display: none;
}

.informationCard:hover .hiddenDeleteBtn {
    display: block;
}

.background {
    background-image: url("/public/images/nyito.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.elementor-shape-fill {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.elementor-shape-top {
    top: -1px;
}

.elementor-shape-bottom {
    bottom: 0px;
    transform: rotate(180deg);
}

.elementor-shape svg {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
}

.customGreen {
    color: #1e4719;
}

.image-mask {
    -webkit-mask-image: url("/public/shapes/img-blob-01-min.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
}

.mini-image-mask {
    mask-image: url("/public/shapes/img-blob-04-min.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
}

/* TEVE SHAPE */

.image-background {
    background-image: url("/public/images/teve.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.yellow-shape {
    transform: rotateZ(22deg);
    background-color: #f6ce21;
    top: 25%;
    left: 12%;
    width: 256px;
    height: 256px;
}

.teve-image {
    top: 25%;
    left: 13%;
}

.light-shape {
    -webkit-mask-image: url("/public/shapes/img-blob-02-min.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    transform: rotateZ(22deg);
    background-color: #1e4719;
    top: 16%;
    left: -45px;
    width: 256px;
    height: 256px;
}

.grass-shape {
    -webkit-mask-image: url("/public/shapes/img-blob-03-min.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    transform: rotateZ(22deg);
    background-color: #84c224;
    top: 70%;
    left: 500px;
    width: 128px;
    height: 128px;
}

@media (min-width: 1024px) and (max-width: 1300px) {

    .light-shape,
    .yellow-shape {
        width: 200px;
        height: 200px;
    }

    .yellow-shape,
    .teve-image {
        top: 22%;
    }

    .teve-image {
        width: 480px;
        height: 350px;
    }

    .grass-shape {
        width: 96px;
        height: 96px;
        top: 55%;
        left: 350px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .light-shape,
    .yellow-shape {
        width: 150px;
        height: 150px;
    }

    .light-shape {
        top: 0px;
        left: 0px;
    }

    .yellow-shape {
        left: 90px;
    }

    .yellow-shape,
    .teve-image {
        top: 16%;
    }

    .teve-image {
        width: 450px;
        height: 320px;
        left: 60px;
    }

    .grass-shape {
        width: 70px;
        height: 70px;
        top: 80%;
        left: 350px;
    }

    .secondSection {
        min-height: 900px;
    }
}

@media screen and (max-width: 767px) {
    .light-shape,
    .yellow-shape {
        width: 150px;
        height: 150px;
    }

    .light-shape {
        top: 0px;
        left: 0px;
    }

    .yellow-shape {
        left: 90px;
    }

    .yellow-shape,
    .teve-image {
        top: 15%;
    }

    .teve-image {
        width: 400px;
        height: 270px;
        left: 70px;
    }

    .grass-shape {
        width: 70px;
        height: 70px;
        left: 300px;
        top: 70%;
    }
    .secondSection {
        min-height: 900px;
    }
}

@media screen and (max-width: 470px) {
    .light-shape,
    .yellow-shape {
        width: 100px;
        height: 100px;
    }

    .light-shape {
        left: 0px;
    }

    .yellow-shape {
        left: 60px;
    }

    .yellow-shape,
    .teve-image {
        top: 10%;
    }

    .teve-image {
        width: 350px;
        height: 220px;
        left: 10px;
    }

    .grass-shape {
        width: 70px;
        height: 70px;
        left: 220px;
        top: 50%;
    }
}

.yellowCard {
    background-color: #f6ce21;
    color: #f7f7f7;
}

.animal {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    mask-image: url("/public/shapes/img-blob-04-min.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
}

.animal1 {
    background-image: url("/public/lakok/kecske2.jpeg");
}

.animal2 {
    background-image: url("/public/lakok/lama2.jpeg");
}

.animal3 {
    background-image: url("/public/lakok/lo.jpg");
}

.animal4 {
    background-image: url("/public/lakok/nyul2.jpeg");
}

.animal5 {
    background-image: url("/public/lakok/paÌva2.jpeg");
}

.animal6 {
    background-image: url("/public/lakok/lama2.jpeg");
}

.animal7 {
    background-image: url("/public/lakok/teve2.jpeg");
}

.animal8 {
    background-image: url("/public/lakok/csirke2.jpeg");
}

.animal9 {
    background-image: url("/public/lakok/papagaj2.jpeg");
}

.animal10 {
    background-image: url("/public/lakok/strucc2.jpeg");
}

.animal11 {
    background-image: url("/public/lakok/teknos2.jpeg");
}

.card {
    background-color: #f7f7f7;
}


#animatedDiv {
    opacity: 0;
    position: relative;
    transition-property: opacity, transform;
  }

  .opacity-0 {
    opacity: 0;
  }

  .transform {
    transform: translateY(5px); /* Adjust this value to control the initial position */
  }


  /* szolgaltatasok */

  ol {
    width: 100%;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    list-style: none;
    counter-reset: stepnr;
  }


  ol li {
    counter-increment: stepnr;
    width: 18rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: calc(2rem + 2rem);
    position: relative;
  }
  ol li::before,
  ol li::after {
    inset: 0;
    position: absolute;
    border-radius: 50%;
    border: 2rem solid #fff;
    line-height: 1.1;
  }
  ol li::before {
    content: counter(stepnr);
    color: #2174fa;
    padding-left: 10rem;
    font-size: 12rem;
    font-weight: 700;
    overflow: hidden;
  }

  ol li::after {
    content: "";
    filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
  }

  ol li > * { width: 7.5rem }
  ol li .title { font-size: 1.3rem; font-weight: 500 }
  ol li .descr { font-size: 0.9rem; font-weight: 300 }

  .credits { margin-top: 2rem; text-align: right }
  .credits a { color: var(--color) }



  /* FLIP CARD */

  .flip {
    position: relative;
    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateY(0deg);
    }
    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
        align-items: center;
    }
    &:hover {
        >.front {
            transform: rotateY(180deg);
        }
        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
    &.flip-vertical {
        >.back {
            transform: rotateX(-180deg);
        }
        &:hover {
            >.front {
                transform: rotateX(180deg);
            }
            >.back {
                transform: rotateX(0deg);
            }
        }
    }
}

.flip {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    >.front,
    >.back {
      display: block;
      color: white;
      width: inherit;
      background-size: cover!important;
      background-position: center!important;
      padding: 1em 2em;
      background: #313131;
      border-radius: 10px;
      p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #999;
      }
    }
}

.text-shadow {
text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}


.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
