@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Caveat;
    font-weight: 800;
    src: url(../../fonts/Caveat/static/Caveat-Bold.ttf);
}

@layer base {
    @font-face {
        font-family: "Inter";
        font-weight: 400;
        src: url(../../fonts/Inter/static/Inter-Regular.ttf);
    }
    @font-face {
        font-family: "Inter";
        font-weight: 800;
        src: url(../../fonts/Inter/static/Inter-ExtraBold.ttf);
    }
}

.boldInter {
    font-family: Inter;
    font-weight: bolder;
}

.caveatFont {
    font-family: Caveat;
}
body {
    background-color: #f7f7f7;
}

[x-cloak] {
    display: none;
}

.hiddenDeleteBtn {
    display: none;
}

.informationCard:hover .hiddenDeleteBtn {
    display: block;
}

.background {
    background-image: url("/public/images/nyito.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.elementor-shape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.elementor-shape-fill {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
    fill: #f7f7f7;
}

.elementor-shape-top {
    top: -1px;
}

.elementor-shape-bottom {
    bottom: 0px;
    transform: rotate(180deg);
}

.elementor-shape svg {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
}

.customGreen {
    color: #1e4719;
}

.image-mask {
    -webkit-mask-image: url("/public/shapes/img-blob-01-min.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
}

.mini-image-mask {
    mask-image: url("/public/shapes/img-blob-04-min.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
}

.image-background {
    background-image: url("/public/images/teve.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.yellow-shape {
    transform: rotateZ(22deg);
    background-color: #f6ce21;
    top: 29%;
    left: 12%;
    width: 256px;
    height: 256px;
}

.teve-image {
    top: 29%;
    left: 13%;
}

.light-shape {
    -webkit-mask-image: url("/public/shapes/img-blob-02-min.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    transform: rotateZ(22deg);
    background-color: #1e4719;
    left: -45px;
    width: 256px;
    height: 256px;
}

.grass-shape {
    -webkit-mask-image: url("/public/shapes/img-blob-03-min.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    transform: rotateZ(22deg);
    background-color: #84c224;
    top: 160%;
    left: 70%;
    width: 128px;
    height: 128px;
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .light-shape,
    .yellow-shape {
        width: 200px;
        height: 200px;
    }

    .yellow-shape,
    .teve-image {
        top: 22%;
    }

    .teve-image {
        width: 480px;
        height: 350px;
    }

    .grass-shape {
        width: 96px;
        height: 96px;
        top: 110%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .light-shape,
    .yellow-shape {
        width: 150px;
        height: 150px;
    }

    .light-shape {
        left: 0px;
    }

    .yellow-shape {
        left: 90px;
    }

    .yellow-shape,
    .teve-image {
        top: 16%;
    }

    .teve-image {
        width: 450px;
        height: 320px;
        left: 60px;
    }

    .grass-shape {
        width: 70px;
        height: 70px;
        top: 90%;
        left: 400px;
    }

    .secondSection {
        min-height: 900px;
    }
}

@media screen and (max-width: 767px) {
    .light-shape,
    .yellow-shape {
        width: 150px;
        height: 150px;
    }

    .light-shape {
        left: 0px;
    }

    .yellow-shape {
        left: 100px;
    }

    .yellow-shape,
    .teve-image {
        top: 18%;
    }

    .teve-image {
        width: 400px;
        height: 270px;
        left: 80px;
    }

    .grass-shape {
        width: 70px;
        height: 70px;
        left: 350px;
        top: 95%;
    }
    .secondSection {
        min-height: 900px;
    }
}

@media screen and (max-width: 470px) {
    .light-shape,
    .yellow-shape {
        width: 100px;
        height: 100px;
    }

    .light-shape {
        left: 0px;
    }

    .yellow-shape {
        left: 60px;
    }

    .yellow-shape,
    .teve-image {
        top: 10%;
    }

    .teve-image {
        width: 350px;
        height: 220px;
        left: 10px;
    }

    .grass-shape {
        width: 70px;
        height: 70px;
        left: 220px;
        top: 70%;
    }
}

.yellowCard {
    background-color: #f6ce21;
    color: #f7f7f7;
}

.animal {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    mask-image: url("/public/shapes/img-blob-04-min.png");
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
}

.animal1 {
    background-image: url("/public/lakok/kecske2.jpeg");
}

.animal2 {
    background-image: url("/public/lakok/lama2.jpeg");
}

.animal3 {
    background-image: url("/public/lakok/lo.jpg");
}

.animal4 {
    background-image: url("/public/lakok/nyul2.jpeg");
}

.animal5 {
    background-image: url("/public/lakok/páva2.jpeg");
}

.animal6 {
    background-image: url("/public/lakok/lama2.jpeg");
}

.animal7 {
    background-image: url("/public/lakok/teve2.jpeg");
}

.animal8 {
    background-image: url("/public/lakok/csirke2.jpeg");
}

.animal9 {
    background-image: url("/public/lakok/papagaj2.jpeg");
}

.animal10 {
    background-image: url("/public/lakok/strucc2.jpeg");
}

.animal11 {
    background-image: url("/public/lakok/teknos2.jpeg");
}

.card {
    background-color: #f7f7f7;
}


#animatedDiv {
    opacity: 0;
    position: relative;
    transition-property: opacity, transform;
  }

  .opacity-0 {
    opacity: 0;
  }

  .transform {
    transform: translateY(5px); /* Adjust this value to control the initial position */
  }
